body {
  background-color: #FFF;
}

.section .reveal .state-background {
    background: #FFFFFF;
    background-image: url("data_mining.jpg");
    opacity: 0.2;
    background-repeat: no-repeat;
    background-position: center;
    font-family: 'Montserrat';
}

.section .reveal h1 {
    color: #3366ff;
    margin-top: 50px;
} 

.section .reveal h2, .section .reveal p {
    color: #3366ff;
    margin-top: 50px;
}

.reveal h1, .reveal h2, .reveal h3 {
    word-wrap: normal;
    -moz-hyphens: none;
    color: #3366ff;
    font: 'Montserrat';
}

.small-code pre code {
  font-size: 1em;
}

.footer {
    color: black; background: #E8E8E8;
    position: fixed; top: 90%;
    text-align:center; width:100%;
}

.midcenter {
    position: fixed;
    top: 50%;
    left: 50%;
}

.img {
    position: center;
    top: 50%;
    width: 100%
}